langchain==0.3.25
langchain-openai==0.3.19
langchain-huggingface==0.1.2
langchain-community==0.3.24
langchain-chroma==0.2.4
chromadb>=1.0.9
streamlit==1.44.0
python-dotenv==1.0.1
pypdf==5.4.0
sentence-transformers==3.3.1
openai==1.77.0
